table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%
}

tbody,
thead, tr {
}

th,
td {
    padding: 12px;
/*    display: block;*/
    font-size: large;
}

/*  Define the background color for all the ODD background rows  */
tr:nth-child(even) {
    background-color: #f2f2f2;
}
/* Create three equal columns that floats next to each other */
.column {
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    background-color: white;
    padding: 5px;
}

td.row {
    padding: 12px;
    font-size: medium
}

.DailyBuildSchedules {
    font-size: medium;
    table-layout: fixed;
    width: 100%;
}

.container {
    width: 1700px;
}


